In [2]:
import pandas as pd
import datetime

In [3]:
#load dữ liệu vào data frame
df = pd.read_excel("../sources/data.xlsx")
df

,Số lượng đơn hàng theo khách hàng và theo ngày tạo đơn hàng,create_date,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 91,Unnamed: 92,Unnamed: 93,Unnamed: 94,Unnamed: 95,Unnamed: 96,Unnamed: 97,Unnamed: 98,Unnamed: 99,Unnamed: 100
0,visitor_id,43770,43771,43772,43773,43774,43775,43776,43777,43778,...,43860,43861,43862,43863,43864,43865,43866,43867,43868,43869
1,//02MonW5iVsFHTYioKFKD3J+v0=,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
2,//0Tw4uLP4F+KxJiH1MxeipBtlc=,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,//1B47ThoPLHFC+ISAeK5lpiquc=,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,//ioYjFoyckJezLI/waPP7iCqtg=,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39436,ZzvqjNiAiYOCnkxl27mQEL1PbZk=,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
39437,zzWdLg/Dyw9eyko6k+ZSDUuTio0=,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
39438,zzxiPB4vtRlO3eKR9TsP2+iQapc=,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
39439,ZzxNkankvZpO6O7TFz4wNb0KE3E=,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
39440,Khách vãng lai,2889,2489,2684,2363,2235,2254,1965,1949,1656,...,887,1076,836,801,1036,993,1089,858,907,769

In [4]:
visitor_info = pd.read_csv("../sources/visitor_information.csv")
visitor_info

,create_date,visitor_id,gender,age,visitor_source
0,2020-02-08,eLbvQsgdm1yEo44ggZA6i9mXYIg=,Nam,37.0,Cừa hàng
1,2020-02-08,5I6he68XtIQHpsRGKp0EsfyM3x4=,LGBT,0.0,Website công ty
2,2020-02-08,CP4VK05fHSxd8oMQ2TPPKp49ZtQ=,Nam,0.0,Website công ty
3,2020-02-08,k8lYxsZaAhgnQOgTTgFlVvw6GGQ=,Nữ,0.0,Website công ty
4,2020-02-08,x65MkmEJiaGCq3OGxuI2uvfq4os=,Không rõ,39.0,Sàn thương mại điện tử
...,...,...,...,...,...
126398,2020-02-04,UaPkbFX9VqV4szba0Ya/E5SFKS4=,Nam,35.0,Cừa hàng
126399,2020-02-05,y3cDfPPmSLJRtPGL0/pExUOAqeQ=,Không rõ,35.0,Sàn thương mại điện tử
126400,2020-02-06,snYIf8MqQkimpm2DpiTnXHx8IoM=,Nam,35.0,Cừa hàng
126401,2020-02-06,42YVqRkkg0q2PNI4UkLLdKY7SYs=,Nam,35.0,Cừa hàng
126402,2020-02-08,dJqc1yztgHr+2preC8/lqE/l2hI=,Không rõ,35.0,Sàn thương mại điện tử

In [5]:
# Đưa dòng đầu lên làm headers
df.columns = df.iloc[0]
df = df[1:]
df

,visitor_id,43770,43771,43772,43773,43774,43775,43776,43777,43778,...,43860,43861,43862,43863,43864,43865,43866,43867,43868,43869
1,//02MonW5iVsFHTYioKFKD3J+v0=,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
2,//0Tw4uLP4F+KxJiH1MxeipBtlc=,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,//1B47ThoPLHFC+ISAeK5lpiquc=,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,//ioYjFoyckJezLI/waPP7iCqtg=,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,//iPpNBcKX2/VuN7RTBSbDP9yBg=,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39436,ZzvqjNiAiYOCnkxl27mQEL1PbZk=,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
39437,zzWdLg/Dyw9eyko6k+ZSDUuTio0=,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
39438,zzxiPB4vtRlO3eKR9TsP2+iQapc=,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
39439,ZzxNkankvZpO6O7TFz4wNb0KE3E=,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
39440,Khách vãng lai,2889,2489,2684,2363,2235,2254,1965,1949,1656,...,887,1076,836,801,1036,993,1089,858,907,769

In [6]:
# unpivot
# Lưu ý: đặt noOrders có nghĩa là number of Orders
df_melted = df.melt(id_vars= df.columns[0], var_name= "create_datenum", value_name= "noOrders")
df_melted

                           visitor_id create_datenum  noOrders
0        //02MonW5iVsFHTYioKFKD3J+v0=          43770         0
1        //0Tw4uLP4F+KxJiH1MxeipBtlc=          43770         0
2        //1B47ThoPLHFC+ISAeK5lpiquc=          43770         0
3        //ioYjFoyckJezLI/waPP7iCqtg=          43770         0
4        //iPpNBcKX2/VuN7RTBSbDP9yBg=          43770         0
...                               ...            ...       ...
3943995  ZzvqjNiAiYOCnkxl27mQEL1PbZk=          43869         0
3943996  zzWdLg/Dyw9eyko6k+ZSDUuTio0=          43869         0
3943997  zzxiPB4vtRlO3eKR9TsP2+iQapc=          43869         0
3943998  ZzxNkankvZpO6O7TFz4wNb0KE3E=          43869         0
3943999                Khách vãng lai          43869       769

[3944000 rows x 3 columns]

In [7]:
df[0:2:1]

,visitor_id,43770,43771,43772,43773,43774,43775,43776,43777,43778,...,43860,43861,43862,43863,43864,43865,43866,43867,43868,43869
1,//02MonW5iVsFHTYioKFKD3J+v0=,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
2,//0Tw4uLP4F+KxJiH1MxeipBtlc=,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [8]:
# Tạo thêm cột ngày từ việc quy đổi 43770 đến 43869 ra 1/11/2019 đến 8/2/2020
list = df_melted["create_datenum"].unique()
print(list)
print(type(list))
dict = {}
day = datetime.date(2019, 11, 1)
tdelta = datetime.timedelta(days = 1)
for item in list:
    dict[item] = str(day)
    day = day + tdelta

list = []
for i in df_melted.index:
    list.append(dict[df_melted['create_datenum'][i]])
df_melted["create_date"] = list

[43770 43771 43772 43773 43774 43775 43776 43777 43778 43779 43780 43781
 43782 43783 43784 43785 43786 43787 43788 43789 43790 43791 43792 43793
 43794 43795 43796 43797 43798 43799 43800 43801 43802 43803 43804 43805
 43806 43807 43808 43809 43810 43811 43812 43813 43814 43815 43816 43817
 43818 43819 43820 43821 43822 43823 43824 43825 43826 43827 43828 43829
 43830 43831 43832 43833 43834 43835 43836 43837 43838 43839 43840 43841
 43842 43843 43844 43845 43846 43847 43848 43849 43850 43851 43852 43853
 43854 43855 43856 43857 43858 43859 43860 43861 43862 43863 43864 43865
 43866 43867 43868 43869]
<class 'numpy.ndarray'>

                           visitor_id create_datenum  noOrders create_date
0        //02MonW5iVsFHTYioKFKD3J+v0=          43770         0  2019-11-01
1        //0Tw4uLP4F+KxJiH1MxeipBtlc=          43770         0  2019-11-01
2        //1B47ThoPLHFC+ISAeK5lpiquc=          43770         0  2019-11-01
3        //ioYjFoyckJezLI/waPP7iCqtg=          43770         0  2019-11-01
4        //iPpNBcKX2/VuN7RTBSbDP9yBg=          43770         0  2019-11-01
...                               ...            ...       ...         ...
3943995  ZzvqjNiAiYOCnkxl27mQEL1PbZk=          43869         0  2020-02-08
3943996  zzWdLg/Dyw9eyko6k+ZSDUuTio0=          43869         0  2020-02-08
3943997  zzxiPB4vtRlO3eKR9TsP2+iQapc=          43869         0  2020-02-08
3943998  ZzxNkankvZpO6O7TFz4wNb0KE3E=          43869         0  2020-02-08
3943999                Khách vãng lai          43869       769  2020-02-08

[3944000 rows x 4 columns]

In [9]:
# Bỏ cột create_datenum vì không cần thiết
df_melted = df_melted.drop(labels= 'create_datenum', axis=1)

In [10]:
# Lưu file
df_melted.to_csv("./data_cleaning/adjusted_data.csv", index = False)

In [11]:
df_melted.sort_values(by='visitor_id',ascending=1)

                           visitor_id  noOrders create_date
473911   ++DZ24GqVhNE0Bl7f3Zp06lWjj4=         0  2019-11-13
434471   ++DZ24GqVhNE0Bl7f3Zp06lWjj4=         0  2019-11-12
592231   ++DZ24GqVhNE0Bl7f3Zp06lWjj4=         0  2019-11-16
2288151  ++DZ24GqVhNE0Bl7f3Zp06lWjj4=         0  2019-12-29
3550231  ++DZ24GqVhNE0Bl7f3Zp06lWjj4=         0  2020-01-30
...                               ...       ...         ...
1459277  zzxiPB4vtRlO3eKR9TsP2+iQapc=         0  2019-12-07
3312957  zzxiPB4vtRlO3eKR9TsP2+iQapc=         0  2020-01-23
867677   zzxiPB4vtRlO3eKR9TsP2+iQapc=         0  2019-11-22
39437    zzxiPB4vtRlO3eKR9TsP2+iQapc=         0  2019-11-01
2681917  zzxiPB4vtRlO3eKR9TsP2+iQapc=         0  2020-01-07

[3944000 rows x 3 columns]