In [1]:
import pandas as pd
import datetime
import re

In [2]:
# load dữ liệu vào dataframe
data = pd.read_csv("./data_cleaning/adjusted_data.csv")
visitor = pd.read_csv("../sources/visitor_information.csv")
data

                           visitor_id  noOrders create_date
0        //02MonW5iVsFHTYioKFKD3J+v0=         0  2019-11-01
1        //0Tw4uLP4F+KxJiH1MxeipBtlc=         0  2019-11-01
2        //1B47ThoPLHFC+ISAeK5lpiquc=         0  2019-11-01
3        //ioYjFoyckJezLI/waPP7iCqtg=         0  2019-11-01
4        //iPpNBcKX2/VuN7RTBSbDP9yBg=         0  2019-11-01
...                               ...       ...         ...
3943995  ZzvqjNiAiYOCnkxl27mQEL1PbZk=         0  2020-02-08
3943996  zzWdLg/Dyw9eyko6k+ZSDUuTio0=         0  2020-02-08
3943997  zzxiPB4vtRlO3eKR9TsP2+iQapc=         0  2020-02-08
3943998  ZzxNkankvZpO6O7TFz4wNb0KE3E=         0  2020-02-08
3943999                Khách vãng lai       769  2020-02-08

[3944000 rows x 3 columns]

In [3]:
visitor

,create_date,visitor_id,gender,age,visitor_source
0,2020-02-08,eLbvQsgdm1yEo44ggZA6i9mXYIg=,Nam,37.0,Cừa hàng
1,2020-02-08,5I6he68XtIQHpsRGKp0EsfyM3x4=,LGBT,0.0,Website công ty
2,2020-02-08,CP4VK05fHSxd8oMQ2TPPKp49ZtQ=,Nam,0.0,Website công ty
3,2020-02-08,k8lYxsZaAhgnQOgTTgFlVvw6GGQ=,Nữ,0.0,Website công ty
4,2020-02-08,x65MkmEJiaGCq3OGxuI2uvfq4os=,Không rõ,39.0,Sàn thương mại điện tử
...,...,...,...,...,...
126398,2020-02-04,UaPkbFX9VqV4szba0Ya/E5SFKS4=,Nam,35.0,Cừa hàng
126399,2020-02-05,y3cDfPPmSLJRtPGL0/pExUOAqeQ=,Không rõ,35.0,Sàn thương mại điện tử
126400,2020-02-06,snYIf8MqQkimpm2DpiTnXHx8IoM=,Nam,35.0,Cừa hàng
126401,2020-02-06,42YVqRkkg0q2PNI4UkLLdKY7SYs=,Nam,35.0,Cừa hàng
126402,2020-02-08,dJqc1yztgHr+2preC8/lqE/l2hI=,Không rõ,35.0,Sàn thương mại điện tử

# **1. Kiểm tra liệu các visitor_id của bảng data đều nằm trong bảng visitor không?**

In [4]:
# merge 2 bảng lại với inner join, 
data_unduplicate = data.drop_duplicates(subset="visitor_id",keep="first")
data_unduplicate

                         visitor_id  noOrders create_date
0      //02MonW5iVsFHTYioKFKD3J+v0=         0  2019-11-01
1      //0Tw4uLP4F+KxJiH1MxeipBtlc=         0  2019-11-01
2      //1B47ThoPLHFC+ISAeK5lpiquc=         0  2019-11-01
3      //ioYjFoyckJezLI/waPP7iCqtg=         0  2019-11-01
4      //iPpNBcKX2/VuN7RTBSbDP9yBg=         0  2019-11-01
...                             ...       ...         ...
39435  ZzvqjNiAiYOCnkxl27mQEL1PbZk=         0  2019-11-01
39436  zzWdLg/Dyw9eyko6k+ZSDUuTio0=         0  2019-11-01
39437  zzxiPB4vtRlO3eKR9TsP2+iQapc=         0  2019-11-01
39438  ZzxNkankvZpO6O7TFz4wNb0KE3E=         0  2019-11-01
39439                Khách vãng lai      2889  2019-11-01

[39440 rows x 3 columns]

In [5]:
merge_inner = pd.merge(data_unduplicate,visitor,on="visitor_id",how="inner")
merge_inner
# Ta thấy có 39439 rows, tức là có một dữ liệu có trong bảng data nhưng lại không có trong bảng visitor, đó chính là dữ liệu có visitor_id là "Khách vãng lai"

,visitor_id,noOrders,create_date_x,create_date_y,gender,age,visitor_source
0,//02MonW5iVsFHTYioKFKD3J+v0=,0,2019-11-01,2019-11-04,Không rõ,1.0,Website công ty
1,//0Tw4uLP4F+KxJiH1MxeipBtlc=,0,2019-11-01,2020-01-03,Nữ,24.0,Website công ty
2,//1B47ThoPLHFC+ISAeK5lpiquc=,0,2019-11-01,2019-12-20,Không rõ,NaN,Website công ty
3,//ioYjFoyckJezLI/waPP7iCqtg=,0,2019-11-01,2019-11-22,Không rõ,NaN,Website công ty
4,//iPpNBcKX2/VuN7RTBSbDP9yBg=,0,2019-11-01,2019-12-17,Nữ,23.0,Website công ty
...,...,...,...,...,...,...,...
39434,ZzVgyjXGc2XKvMao7j8BW4uoln0=,0,2019-11-01,2019-11-20,Không rõ,NaN,Website công ty
39435,ZzvqjNiAiYOCnkxl27mQEL1PbZk=,0,2019-11-01,2019-12-28,Nữ,24.0,Cừa hàng
39436,zzWdLg/Dyw9eyko6k+ZSDUuTio0=,0,2019-11-01,2019-11-14,Không rõ,NaN,Website công ty
39437,zzxiPB4vtRlO3eKR9TsP2+iQapc=,0,2019-11-01,2019-11-20,Nữ,20.0,Website công ty
39438,ZzxNkankvZpO6O7TFz4wNb0KE3E=,0,2019-11-01,2019-11-12,Nam,25.0,Website công ty

In [6]:
# Lấy ra các dữ liệu không có trong bảng data nhưng có trong bảng visitor, thể hiện những người chỉ ghé tham quan các source của công ty
# nhưng không mua hàng bằng cách tạo bảng visitor_only
visitor_only = pd.merge(data_unduplicate, visitor, on="visitor_id", how="right")
visitor_only.loc[visitor_only['create_date_x'].isnull()]
# Ta thấy có 86964 dữ liệu visitor_only như bên dưới

,visitor_id,noOrders,create_date_x,create_date_y,gender,age,visitor_source
1,5I6he68XtIQHpsRGKp0EsfyM3x4=,NaN,NaN,2020-02-08,LGBT,0.0,Website công ty
5,G6Xfj/p+hhrklMVh5wNDwIDUO/c=,NaN,NaN,2020-02-08,Nam,12.0,Sàn thương mại điện tử
6,1PTBKW7fXxXwk/LGOsH34iLk30g=,NaN,NaN,2020-02-08,Nam,0.0,Website công ty
7,TbpwRHoWC6P98iH/X5HbwUqUwhQ=,NaN,NaN,2020-02-08,Nữ,0.0,Website công ty
10,42+aLxoFSMqtTVT8sxAt53d+vlI=,NaN,NaN,2020-02-07,Nam,0.0,Website công ty
...,...,...,...,...,...,...,...
126396,UBzjiT6ClRfZSAOWMV8qeHcEcnU=,NaN,NaN,2020-02-02,Nữ,35.0,Cừa hàng
126397,jdvSIfh/sEfr+ntaoeVCgXhfj1k=,NaN,NaN,2020-02-03,Không rõ,35.0,Sàn thương mại điện tử
126399,y3cDfPPmSLJRtPGL0/pExUOAqeQ=,NaN,NaN,2020-02-05,Không rõ,35.0,Sàn thương mại điện tử
126400,snYIf8MqQkimpm2DpiTnXHx8IoM=,NaN,NaN,2020-02-06,Nam,35.0,Cừa hàng
126402,dJqc1yztgHr+2preC8/lqE/l2hI=,NaN,NaN,2020-02-08,Không rõ,35.0,Sàn thương mại điện tử

# **2. Kiểm tra tất cả visitor_id trong bảng data đều đã mua hàng ít nhất một lần không?**

In [7]:
data_sort = data.sort_values(by=['visitor_id','create_date'],ascending= [1,1], ignore_index= True)
data_sort.head(101)

                       visitor_id  noOrders create_date
0    ++DZ24GqVhNE0Bl7f3Zp06lWjj4=         0  2019-11-01
1    ++DZ24GqVhNE0Bl7f3Zp06lWjj4=         0  2019-11-02
2    ++DZ24GqVhNE0Bl7f3Zp06lWjj4=         0  2019-11-03
3    ++DZ24GqVhNE0Bl7f3Zp06lWjj4=         0  2019-11-04
4    ++DZ24GqVhNE0Bl7f3Zp06lWjj4=         0  2019-11-05
..                            ...       ...         ...
96   ++DZ24GqVhNE0Bl7f3Zp06lWjj4=         0  2020-02-05
97   ++DZ24GqVhNE0Bl7f3Zp06lWjj4=         0  2020-02-06
98   ++DZ24GqVhNE0Bl7f3Zp06lWjj4=         0  2020-02-07
99   ++DZ24GqVhNE0Bl7f3Zp06lWjj4=         0  2020-02-08
100  ++HN809MR7t8V9QmdOEA36NubfI=         0  2019-11-01

[101 rows x 3 columns]

In [8]:
for i in range(0,3944000,100):
    c=0
    for j in range(i,i+100):
        if(data_sort['noOrders'][j] == 0): c += 1
    if c==100 : 
        print(data_sort.loc[i])
counter = 0
# Như vậy không có id nào trong bảng data không mua hàng ít nhất một lần

# **Kiểm tra xem có ai mua hàng lần đầu trước khi biết đến công ty?**

## Ta sẽ kiểm tra bằng cách thêm một cột mới thể hiện ngày mua hàng vào bảng visitor

In [9]:
# Xóa các rows mà noOrders = 0
data_buy = data.drop(labels=data.loc[data['noOrders']==0 ].index)
data_buy

                           visitor_id  noOrders create_date
237      /f4j8qx535UCFJNxx13w65G4Oio=         1  2019-11-01
276      /hYvcu32bHoLWxYT2XvPGvE7nWM=         1  2019-11-01
562      /w2K8geGTx+wX00VpxJiHeXfeJM=         1  2019-11-01
669      +2UZCewm6vsWZ51KA18TaQF5mIo=         1  2019-11-01
775      +Bs058M58ladlHd5UfAw6qiSQwo=         3  2019-11-01
...                               ...       ...         ...
3943633  ZPR2fSY3Syx0CEhnTHudbd+zWu0=         1  2020-02-08
3943698  zrcN/J8m8r3Nx/ZK+RKGDGPP6mk=         1  2020-02-08
3943710  ZRMYbrt66TGr3Ym45qAyna8vzdw=         2  2020-02-08
3943778  ZtRZJZTci1GqYL7vm9Kfs+bkH2M=         4  2020-02-08
3943999                Khách vãng lai       769  2020-02-08

[89084 rows x 3 columns]

In [10]:
data_buy = data_buy.sort_values(by=['visitor_id', 'create_date'], ascending=[1,1])
data_buy

                           visitor_id  noOrders create_date
2840311  ++DZ24GqVhNE0Bl7f3Zp06lWjj4=         2  2020-01-12
947193   ++HN809MR7t8V9QmdOEA36NubfI=         2  2019-11-25
316154   ++J4GEqZUrL8Rf7XrURsNNt6KPw=         1  2019-11-09
434476   ++P59XK9q+K1acy8MeRVzfrfOz0=         1  2019-11-12
473916   ++P59XK9q+K1acy8MeRVzfrfOz0=         2  2019-11-13
...                               ...       ...         ...
1735337  zzGUju7RRo8FrQOIOmNM9vgwuns=         1  2019-12-14
1064873  zzURsuIJlSzPj3lOz19YWU1VMrE=         1  2019-11-27
552156   zzWdLg/Dyw9eyko6k+ZSDUuTio0=         1  2019-11-14
631036   zzWdLg/Dyw9eyko6k+ZSDUuTio0=         1  2019-11-16
788797   zzxiPB4vtRlO3eKR9TsP2+iQapc=         1  2019-11-20

[89084 rows x 3 columns]

In [11]:
# Bỏ duplicate theo visitor_id ở bảng data_buy, chỉ giữ lại data với lần mua hàng đầu tiên : 
data_buy_firstTime = data_buy.drop_duplicates(subset='visitor_id', keep='first')
data_buy_firstTime

                           visitor_id  noOrders create_date
2840311  ++DZ24GqVhNE0Bl7f3Zp06lWjj4=         2  2020-01-12
947193   ++HN809MR7t8V9QmdOEA36NubfI=         2  2019-11-25
316154   ++J4GEqZUrL8Rf7XrURsNNt6KPw=         1  2019-11-09
434476   ++P59XK9q+K1acy8MeRVzfrfOz0=         1  2019-11-12
1302158  ++RP+syfDvZiTf/Pmov3PdEeFWM=         3  2019-12-04
...                               ...       ...         ...
315489   zz4YKQwMrdb6za9UWGnbxWHcLZY=         1  2019-11-08
1735337  zzGUju7RRo8FrQOIOmNM9vgwuns=         1  2019-12-14
1064873  zzURsuIJlSzPj3lOz19YWU1VMrE=         1  2019-11-27
552156   zzWdLg/Dyw9eyko6k+ZSDUuTio0=         1  2019-11-14
788797   zzxiPB4vtRlO3eKR9TsP2+iQapc=         1  2019-11-20

[39440 rows x 3 columns]

In [12]:
# Sắp xếp lại index và sửa tiêu đề cột cho đúng
data_buy_firstTime = data_buy_firstTime.sort_values(by=['visitor_id','create_date'], ascending=[1,1], ignore_index=True)
data_buy_firstTime = data_buy_firstTime.rename({'create_date' : 'first_buy'},axis=1)
data_buy_firstTime

                         visitor_id  noOrders   first_buy
0      ++DZ24GqVhNE0Bl7f3Zp06lWjj4=         2  2020-01-12
1      ++HN809MR7t8V9QmdOEA36NubfI=         2  2019-11-25
2      ++J4GEqZUrL8Rf7XrURsNNt6KPw=         1  2019-11-09
3      ++P59XK9q+K1acy8MeRVzfrfOz0=         1  2019-11-12
4      ++RP+syfDvZiTf/Pmov3PdEeFWM=         3  2019-12-04
...                             ...       ...         ...
39435  zz4YKQwMrdb6za9UWGnbxWHcLZY=         1  2019-11-08
39436  zzGUju7RRo8FrQOIOmNM9vgwuns=         1  2019-12-14
39437  zzURsuIJlSzPj3lOz19YWU1VMrE=         1  2019-11-27
39438  zzWdLg/Dyw9eyko6k+ZSDUuTio0=         1  2019-11-14
39439  zzxiPB4vtRlO3eKR9TsP2+iQapc=         1  2019-11-20

[39440 rows x 3 columns]

In [13]:
# Thêm thông tin lần đầu mua hàng vào bảng visitor
visitor_first_buy = pd.merge(visitor,data_buy_firstTime,how='left', on='visitor_id')
visitor_first_buy = visitor_first_buy.rename({'create_date' : 'first_visit'},axis=1)

visitor_first_buy.loc[visitor_first_buy["first_buy"].isnull(), "first_buy"] = "Không mua hàng"
visitor_first_buy

,first_visit,visitor_id,gender,age,visitor_source,noOrders,first_buy
0,2020-02-08,eLbvQsgdm1yEo44ggZA6i9mXYIg=,Nam,37.0,Cừa hàng,5.0,2020-02-08
1,2020-02-08,5I6he68XtIQHpsRGKp0EsfyM3x4=,LGBT,0.0,Website công ty,NaN,Không mua hàng
2,2020-02-08,CP4VK05fHSxd8oMQ2TPPKp49ZtQ=,Nam,0.0,Website công ty,1.0,2020-02-08
3,2020-02-08,k8lYxsZaAhgnQOgTTgFlVvw6GGQ=,Nữ,0.0,Website công ty,2.0,2020-02-08
4,2020-02-08,x65MkmEJiaGCq3OGxuI2uvfq4os=,Không rõ,39.0,Sàn thương mại điện tử,1.0,2020-02-08
...,...,...,...,...,...,...,...
126398,2020-02-04,UaPkbFX9VqV4szba0Ya/E5SFKS4=,Nam,35.0,Cừa hàng,1.0,2020-02-04
126399,2020-02-05,y3cDfPPmSLJRtPGL0/pExUOAqeQ=,Không rõ,35.0,Sàn thương mại điện tử,NaN,Không mua hàng
126400,2020-02-06,snYIf8MqQkimpm2DpiTnXHx8IoM=,Nam,35.0,Cừa hàng,NaN,Không mua hàng
126401,2020-02-06,42YVqRkkg0q2PNI4UkLLdKY7SYs=,Nam,35.0,Cừa hàng,2.0,2020-02-06
126402,2020-02-08,dJqc1yztgHr+2preC8/lqE/l2hI=,Không rõ,35.0,Sàn thương mại điện tử,NaN,Không mua hàng

In [14]:

visitor_first_buy

,first_visit,visitor_id,gender,age,visitor_source,noOrders,first_buy
0,2020-02-08,eLbvQsgdm1yEo44ggZA6i9mXYIg=,Nam,37.0,Cừa hàng,5.0,2020-02-08
1,2020-02-08,5I6he68XtIQHpsRGKp0EsfyM3x4=,LGBT,0.0,Website công ty,NaN,Không mua hàng
2,2020-02-08,CP4VK05fHSxd8oMQ2TPPKp49ZtQ=,Nam,0.0,Website công ty,1.0,2020-02-08
3,2020-02-08,k8lYxsZaAhgnQOgTTgFlVvw6GGQ=,Nữ,0.0,Website công ty,2.0,2020-02-08
4,2020-02-08,x65MkmEJiaGCq3OGxuI2uvfq4os=,Không rõ,39.0,Sàn thương mại điện tử,1.0,2020-02-08
...,...,...,...,...,...,...,...
126398,2020-02-04,UaPkbFX9VqV4szba0Ya/E5SFKS4=,Nam,35.0,Cừa hàng,1.0,2020-02-04
126399,2020-02-05,y3cDfPPmSLJRtPGL0/pExUOAqeQ=,Không rõ,35.0,Sàn thương mại điện tử,NaN,Không mua hàng
126400,2020-02-06,snYIf8MqQkimpm2DpiTnXHx8IoM=,Nam,35.0,Cừa hàng,NaN,Không mua hàng
126401,2020-02-06,42YVqRkkg0q2PNI4UkLLdKY7SYs=,Nam,35.0,Cừa hàng,2.0,2020-02-06
126402,2020-02-08,dJqc1yztgHr+2preC8/lqE/l2hI=,Không rõ,35.0,Sàn thương mại điện tử,NaN,Không mua hàng

In [15]:
# Bảng visitor_buy_detail bao gồm các data chi tiết của visitor đã từng mua hàng ít nhất 1 lần
visitor_buy_detail = visitor_first_buy.loc[visitor_first_buy['first_buy'] !='Không mua hàng' ]
visitor_buy_detail

,first_visit,visitor_id,gender,age,visitor_source,noOrders,first_buy
0,2020-02-08,eLbvQsgdm1yEo44ggZA6i9mXYIg=,Nam,37.0,Cừa hàng,5.0,2020-02-08
2,2020-02-08,CP4VK05fHSxd8oMQ2TPPKp49ZtQ=,Nam,0.0,Website công ty,1.0,2020-02-08
3,2020-02-08,k8lYxsZaAhgnQOgTTgFlVvw6GGQ=,Nữ,0.0,Website công ty,2.0,2020-02-08
4,2020-02-08,x65MkmEJiaGCq3OGxuI2uvfq4os=,Không rõ,39.0,Sàn thương mại điện tử,1.0,2020-02-08
8,2020-02-07,GqKV6pJppdUioNAsKX+crb+LqEY=,Nữ,13.0,Website công ty,2.0,2020-02-07
...,...,...,...,...,...,...,...
126388,2020-01-02,m43ILoytgP6aLnAGDwFM5ps9lpY=,Nam,35.0,Website công ty,3.0,2020-01-02
126390,2020-01-10,Z9BJ+05aJa95e3BquMP7FBHIbfM=,Nam,35.0,Website công ty,1.0,2020-01-10
126392,2020-01-24,1cSzI84OFUmAwrh0m7LoznW/Wj8=,Nam,35.0,Cừa hàng,1.0,2020-01-26
126398,2020-02-04,UaPkbFX9VqV4szba0Ya/E5SFKS4=,Nam,35.0,Cừa hàng,1.0,2020-02-04
126401,2020-02-06,42YVqRkkg0q2PNI4UkLLdKY7SYs=,Nam,35.0,Cừa hàng,2.0,2020-02-06

In [16]:
# Kiểm tra xem có trường hợp nào first_buy < first_visit không

tdelta = datetime.timedelta(days = 0)
for i in visitor_buy_detail.index:
    a_date = datetime.datetime.strptime(visitor_buy_detail['first_buy'][i],"%Y-%m-%d").date()
    b_date = datetime.datetime.strptime(visitor_buy_detail['first_visit'][i],"%Y-%m-%d").date()
    if a_date - b_date < tdelta:
        print("Xuất hiện trường hợp lần đầu mua hàng sớm hơn lần đầu ghé thăm cửa hàng qua các nguồn")

## Như vậy không có trường hợp nào khách hàng mua hàng trước khi visitor, tức mở tài khoản.

## **Lưu file**

In [17]:
visitor_buy_detail.to_csv("./data_cleaning/visitor_buy_detail.csv",index = False)
data_buy.to_csv("./data_cleaning/data_buy.csv",index = False)

In [20]:
visitor_buy_detail

,first_visit,visitor_id,gender,age,visitor_source,noOrders,first_buy
0,2020-02-08,eLbvQsgdm1yEo44ggZA6i9mXYIg=,Nam,37.0,Cừa hàng,5.0,2020-02-08
2,2020-02-08,CP4VK05fHSxd8oMQ2TPPKp49ZtQ=,Nam,0.0,Website công ty,1.0,2020-02-08
3,2020-02-08,k8lYxsZaAhgnQOgTTgFlVvw6GGQ=,Nữ,0.0,Website công ty,2.0,2020-02-08
4,2020-02-08,x65MkmEJiaGCq3OGxuI2uvfq4os=,Không rõ,39.0,Sàn thương mại điện tử,1.0,2020-02-08
8,2020-02-07,GqKV6pJppdUioNAsKX+crb+LqEY=,Nữ,13.0,Website công ty,2.0,2020-02-07
...,...,...,...,...,...,...,...
126388,2020-01-02,m43ILoytgP6aLnAGDwFM5ps9lpY=,Nam,35.0,Website công ty,3.0,2020-01-02
126390,2020-01-10,Z9BJ+05aJa95e3BquMP7FBHIbfM=,Nam,35.0,Website công ty,1.0,2020-01-10
126392,2020-01-24,1cSzI84OFUmAwrh0m7LoznW/Wj8=,Nam,35.0,Cừa hàng,1.0,2020-01-26
126398,2020-02-04,UaPkbFX9VqV4szba0Ya/E5SFKS4=,Nam,35.0,Cừa hàng,1.0,2020-02-04
126401,2020-02-06,42YVqRkkg0q2PNI4UkLLdKY7SYs=,Nam,35.0,Cừa hàng,2.0,2020-02-06